
body {
 
  background-color: #222831;
  background-image: linear-gradient(135deg, #222831 0%, #393E46 100%);
  background-attachment: fixed;

}


.allButFooter {
  min-height: calc(100vh - 40px);
}


.word {
  font-size:3em;
  font-family: 'Press Start 2P', cursive;font-size: 40px;
  font-weight:bold;
  text-shadow:3px 3px 4px #000000;
  color: #00ADB5;
  opacity:0;
}

.w1 {
  animation: w1anim 4s infinite;
}


@keyframes w1anim {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20% {
    opacity:1;
  }
  40% {
    opacity:1;
  }
  60% {
    opacity:1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
/* Add regular styles for the button */
.button {
  font-family: 'Inter', sans-serif;
  color: #00ADB5;
  background-color: #393E46;
  border: 1px solid #EEEEEE;
  border-radius: 14px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s; /* Add transition for the background color */
}

/* Add a different background color on hover to create a hover effect */
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #029ca4;
  color: #EEEEEE;

}

/* Add a different background color when the button is clicked */
.button:active {
  background-color: #026c71;
}

/* Add a transition to smooth out the background color change on click */
.button:active {
  transition: none; /* Disable the default transition on click */
  background-color: #01484c; /* Set the background color to the clicked color */
}


.card {
  /* Add shadows to create the "card" effect */
  margin: 0px auto;
  background-color: #222831;
  padding: 10px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;

}

@media screen and (max-width: 992px) {
  .card {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 95%;
  }

  .card h4{
    font-size: large;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



/*

.login-dark{
  min-height: 100%;
  min-width: 1024px;
	
  width: 100%;
  height: 100%;
	
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  .login-dark {
    left: 50%;
    margin-left: -512px;   
}

*/