
html {
  height:100%;
}
body {
 
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  background-attachment: fixed;


}



.word {
  font-size:3em;
  font-family: 'Press Start 2P', cursive;font-size: 40px;
  font-weight:bold;
  opacity:0;
}

.w1 {
  animation: w1anim 4s infinite;
}


@keyframes w1anim {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20% {
    opacity:1;
  }
  40% {
    opacity:1;
  }
  60% {
    opacity:1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}









/*

.login-dark{
  min-height: 100%;
  min-width: 1024px;
	
  width: 100%;
  height: 100%;
	
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  .login-dark {
    left: 50%;
    margin-left: -512px;   
}

*/