<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-226891505-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-226891505-1');
      </script>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W8FZCWK');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='appicon.ico')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Bunker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bangers&family=Bebas+Neue&family=Bungee&family=Press+Start+2P&family=Rubik+Glitch&family=Square+Peg&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,700;1,400&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
  </head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8FZCWK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="allButFooter">


        <br>
        <center>
          <div class="word w1">Welcome!!👋</div>
        </center>
      <div class="container mt-3">
      <form action="{{ url_for("template_app.template_app")}}" method="post" id="myForm">
          <div class="form-group">
            <label for="rollno" style="font-family: 'Courier Prime', monospace;color: #EEEEEE;text-shadow:2px 2px 4px #000000;">Roll Number</label>
            <input class="form-control" autocapitalize="on" id="rollno" name="usr" placeholder="Roll Number" style="font-family: 'Bungee', cursive;" required pattern=".*\S+.*" >
            <!-- <small id="emailHelp" class="form-text text-muted" style="font-size: '14';font-family: 'Square Peg';">We'll never share your details with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="lastname" style="font-family: 'Courier Prime', monospace;color: #EEEEEE;text-shadow:2px 2px 4px #000000;">Password</label>
            <input type="password" class="form-control" autocapitalize="on" name="pwd" id="pwd" placeholder="Password" style="font-family: 'Bungee', cursive;" required pattern=".*\S+.*">
          </div>
          
          <center><button type="submit" class="button button2" id="submitButton" disabled>Login</button></center>
          
      </form>
      </div>

      <br>
      <br>

      {% block content %}
      {% endblock %}

    </div>

      

      <footer class="page-footer font-small blue">
        <center>
          <h4 style="font-family: 'Press Start 2P', cursive;color: #00ADB5;">
            App in development!!
          </h4>
        </center>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color:white">© 2023 Copyright:
          Bunker-API  
          <a href="https://github.com/mathanamathav/bunker-api"><h6>Developed by JPM</h6></a>
        </div>
        <!-- Copyright -->
      
      </footer>

    <script>
      const submitButton = document.getElementById('submitButton');
      
      // Function to check if both inputs are filled
      function checkInputs() {
        const input1Value = document.getElementById('rollno').value.trim();
        const input2Value = document.getElementById('pwd').value.trim();
    
        if (input1Value !== '' && input2Value !== '') {
          submitButton.removeAttribute('disabled');
        } else {
          submitButton.setAttribute('disabled', 'disabled');
        }
      }
    
      // Add event listeners to the input fields for both input and autofill events
      const inputs = document.querySelectorAll('input');
      inputs.forEach((input) => {
        input.addEventListener('input', checkInputs);
        input.addEventListener('change', checkInputs);
      });
    
      // Call the checkInputs function to handle autofill when the page is loaded
      checkInputs();
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

