{% extends  'home.html' %}
{% block content  %}

{% if load %}

	<center>
	<div class="card" style="background-color: #222831;border-radius: 25px;padding: 10px;margin: 10px;">
			<h6 style="font-family: 'Anton', sans-serif;color: #EEEEEE;text-shadow:2px 2px 4px #000000;">It is best to have a physical attendance of more than 75%, and the remark data only takes physical attendance into consideration.</h6>
	</div>
	</center>
	</br>
	<h6 style="text-align: center; font-family: 'Courier Prime', monospace;font-size: small; color: #EEEEEE;text-shadow:2px 2px 4px #000000;">*Last Updated On : {{ last_date_updated }} </h6>



	{% if time_table and data %}
	<div class="container">
		<table class="table table-sm table-bordered text-center">
			<thead>
			<tr style="font-family: 'Courier Prime', monospace;font-size: small; color: #00ADB5;text-shadow:2px 2px 4px #000000;">
				<th scope="col"  style="width: 50%">COURSE</th>
				<th scope="col"  style="width: 10%">PHYSICAL</th>
				<th scope="col"  style="width: 40%">REMARK</th>
			</tr>
			</thead>
			<tbody>
				{% for key in data %}
				<tr style="font-family: 'Courier Prime', monospace;font-size: small;color: #EEEEEE;text-shadow:2px 2px 4px #000000;">
					<td>{{ time_table.get(key.course_code,"") }}</td>
					<td>{{ key.percentage_of_attendance }}</td>
					
					{% if key.remark and "class_to_bunk" in key.remark %}
						<td>Bunk : {{key.remark.get("class_to_bunk",0)}}</td>
					{% else %}
						<td>Attend : {{key.remark.get("class_to_attend",0)}}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<br>
	<hr style="width:50%;height:2px;border: width 6px;background-color: #EEEEEE;">

	{% for key in data %}
	<br>
	<div class="card" style="background-color: #222831;border-radius: 25px;">
	<center>
		<h1 style="font-family: 'Anton', sans-serif;color: #00ADB5;text-shadow:2px 2px 4px #000000;">{{ time_table.get(key.course_code,"") }} - {{ key.course_code }}</h1>
		
		<h4 style="font-family: 'Bebas Neue', cursive;color: #EEEEEE;">Updated date : {{key.attendance_percentage_to}}</h4>
		<h4 style="font-family: 'Bebas Neue', cursive;color: #EEEEEE;">Total Hours : {{key.total_hours}}</h4>
		<h4 style="font-family: 'Bebas Neue', cursive;color: #EEEEEE;">Total Present : {{key.total_present}}</h4>
		<h4 style="font-family: 'Bebas Neue', cursive;color: #EEEEEE;">Percentage of Attendance : {{ key.percentage_of_attendance }}</h4>
		
		{% if key.remark.get("class_to_bunk",0) != 0 %}
		<h2 style="color:green;font-family: 'Bebas Neue', cursive;text-shadow:2px 2px 4px #000000;">Class To Take leave : {{key.remark.get("class_to_bunk",0)}} 👍
		</h2>
		{% else %}
		<h2 style="color:red;font-family: 'Bebas Neue', cursive;text-shadow:2px 2px 4px #000000;">Class To Attend : {{key.remark.get("class_to_attend",0)}} 👎</h2>
		{% endif %}
	</center>
	</div>
	<br>
	{% endfor %}
	<hr style="width:100%;height:2px;border: width 6px;background-color: #EEEEEE;">
	{% endif %}

{% else %}

	<script>
		alert('{{ text }}');
	</script>

{% endif %}
{% endblock %}
